<%= stylesheet_link_tag "textlab" %>
<div class="signup-panel panel panel-default">
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-signup'}) do |f| %>
      <h2 class="form-signup-heading">Sign up for TextLab</h2>
	  A confirmation link will be emailed to you to complete the signup process.
      <br/><br/>

      <%= devise_error_messages! %>

		  <div class="devise-notice"><%= notice %></div>
		  <div class="devise-alert"><%= alert %></div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, required: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username, required: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

	  <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", required: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", required: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :site_id, 'Institutional Sponsor' %><br />
        <%= f.collection_select :site_id,
              Site.all.order('name'),
              :id,
              :name,
              include_blank: false
        %>
      </div>
	  <center>
      	<div class="actions">
        	<%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
      	</div>
		</center>
    <% end %>
  </div>
</div>
