<div class='top-bar'>
		<a class='btn btn-sm btn-default' id='edit-info-button' href='#'>
		<span class="fa fa-file-o" aria-hidden="true"></span>  Edit Section
	</a>
	<ol class="breadcrumb">
	  <% _.each( ancestors, function(a) { %> 
		  <li><a class='breadcrumb' data-id="<%= a.id %>"><%= a.name %></a></li>
	  <% }) %>
	  <li class="active"><%= name %></li>
	</ol>

</div>

<% if( items.length == 0 ) { %> 
	<div class='no-leaf'>
	  <h2><i class="fa fa-folder-o fa-5x"></i><span class='message'>This section is empty.</span>
	</div>
<% } else { %>

	<div class="thumb-container">
	<% _.each( items, function( item ) { %>

		<% if( item.nodeType == 'thumb' ) { %> 
			<div class='document-node' data-id='<%= item.id %>' >
				<img class='thumb' src='<%= item.imgSrc %>'/>
				<div class='thumb-label' ><%= item.name %></div>
			</div>
		<% } %>
		
		<% if( item.nodeType == 'blank-thumb' ) { %> 
			<div class='document-node' data-id='<%= item.id %>' >
				<i class="fa fa-file-o fa-5x thumb-icon"></i>
				<div class='thumb-label' ><%= item.name %></div>
			</div>
		<% } %>

		<% if( item.nodeType == 'section' ) { %> 
			<div class='document-node' data-id='<%= item.id %>' >
				<i class="fa fa-folder fa-5x thumb-icon"></i>
				<div class='thumb-label' ><%= item.name %></div>
			</div>
		<% } %>

	<% }); %>
	</div>

<% } %>