<div id="modal-container"></div>

<h2>My Projects</h2>

<% _.each( documents, function(document) { %>
  <div class="panel panel-default project">
    <div class="panel-body">

      <div class='info'>
        <div class='icon'><span class='fa fa-4x fa-book'></span></div>
        <% if( !document.owner && !document.accepted ) { %>
          <h4><%= document.name %></h4>    
        <% } else { %>
          <h4><a href='#documents/<%= document.id %>'><%= document.name %></a></h4>    
        <% } %>
        <p class="description"><%= document.description %></p>
      </div>
        <div class='actions'>
          <a href='#documents/<%= document.id %>' class="btn btn-sm btn-default">Edit</a>          <a href="/document_sections/<%= document.root_node %>.html" target="_blank" class="btn btn-sm btn-default">View</a>
          <% if( document.owner ) { %> 
            <button class="btn btn-sm btn-danger delete-document-button" data-title="Delete this Project?" data-doc-id="<%= document.id %>">Delete</button>
          <% } %>
        </div>
      
      <% if( !document.owner && !document.accepted ) { %>
        <div class='actions'>
          <button class="btn btn-sm btn-success yes-button" data-doc-id="<%= document.id %>">Join Project</button>        
          <button class="btn btn-sm btn-default no-button" data-doc-id="<%= document.id %>">Decline</button>        
        </div>
      <% } %>
      
      <% if( !document.owner ) { %> 
        <div class='owner-name'><i>
        <% if( !document.accepted ) { %>
          <%= document.owner_name %> has invited you to join this project.
        <% } else { %>
          shared by: <%= document.owner_name %>
        <% } %>
        </i></div>
      <% } %>
            
    </div>
  </div>
<% })%>

<button class="btn btn-primary new-document-button">New Project</button>