<div class="modal fade" id="step-modal" tabindex="-1" role="dialog" aria-labelledby="stepModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel-button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="documentModal"><%= (mode=='edit'? 'Edit' : 'New') %> Narrative Step</h4>
      </div>
      <div class="modal-body">
        <%= partials.numberInput( { 
          field_name: 'step_number', 
          field_title: "Step Number",
          field_value: model.step_number, 
          field_instructions: "This is the step number.",
          error: false 
        }) %>   

        <%= partials.dropdownInput( { 
          field_name: 'zone_id', 
          field_title: 'Zone', 
          field_value: model.zone_id, 
          field_instructions: "Please choose the zone described by this step.", 
          no_blank: true,
          options: zones,
          error: false 
        }) %>

        <b>Step</b>
        <div id="step"><%= model.step %></div>

        <b>Narrative</b>
        <div id="narrative"><%= model.narrative %></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel-button">Cancel</button>
        <button type="button" class="btn btn-primary ok-button">OK</button>
      </div>
    </div>
  </div>
</div>