<h4>Revision Sequence</h4>
<table class="table table-striped">
  <tr>
    <th>Step #</th>
    <th>Zone</th> 
    <th>Step</th>
    <th>Narrative</th>
    <% if( !readOnly ) { %> 
      <th>Actions</th>
    <% } %>
  </tr>
  <% _.each( narrativeSteps, function(narrativeStep) { %> 
    <tr>
      <td><%= narrativeStep.step_number + 1 %></td>
      <td>
        <a href="#" class="zone-link" data-zone-id="<%= narrativeStep.zone_id %>">
          <%= narrativeStep.zoneLabel %>
        </a>
      </td> 
      <td class='step-column'><%= narrativeStep.step %></td>
      <td class='narrative-column'><%= narrativeStep.narrative %></td>
      <% if( !readOnly ) { %> 
        <td>
          <a class='btn btn-xs btn-default edit-step-button' data-step-id='<%= narrativeStep.id %>' href="#"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</a>
          <a class='btn btn-xs btn-danger delete-step-button' data-step-id='<%= narrativeStep.id %>' data-title="Delete this Step?" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
        </td>
      <% } %>
    </tr>
  <% }); %>
</table>
