<div id="modal-container"></div>


<% if( isAdmin ) { %> 
  <h2>User Accounts</h2>
  <p><a href='#sites'>Manage Sites</a></p>
<% } else { %>
  <h2><%= siteName %> - User Accounts (<%= users.length %>)</h2>
<% } %>

<div class='filter-panel'>
  <%= partials.dropdownInput( { 
    field_name: 'statusFilter', 
    field_title: 'Filter', 
    field_instructions: '',
    field_value: statusFilter, 
    no_blank: true,
    options: accountFilterTypes,
    error: false 
  }) %> 
</div>

<% if( users.length == 0 ) { %> 
  <div class='no-users-panel'>
    No users of this type were found.
  </div>
<% } else { %>
  <table class="table table-striped">
    <tr>
      <th>Full Name</th>
      <th>Username</th>
      <th>Email</th> 
      <% if( isAdmin ) { %> 
        <th>Site Name</th> 
        <th>User Type</th>
      <% } %>
      <th>Status</th> 
      <th>Actions</th>
    </tr>
    <% _.each( users, function(user) { %> 
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <% if( isAdmin ) { %> 
          <td><%= user.site_name %></td> 
          <td><%= user.user_type %></td> 
        <% } %>
        <td>
          <% if( user.account_status == 'active' ) { %>
            <span class="label label-success">active</span>
          <% } else if( user.account_status == 'pending' ) { %>
            <span class="label label-warning">pending</span>
          <% } else { %>
            <span class="label label-default">archived</span>
          <% } %>
        </td>
        <td>
          <button data-id="<%= user.id %>" class="btn btn-default btn-sm edit-user-button"><i class="fa fa-pencil fa-lg"></i> Edit</button>
          <% if( user.account_status == 'pending' || 
                 user.account_status == 'archived'    ) { %> 
            <button data-id="<%= user.id %>" class="btn btn-success btn-sm activate-user-button"><i class="fa fa-check fa-lg"></i> Activate</button>
          <% } %>
        </td>
      </tr>
    <% }); %>
  </table>
<% } %>

