
<div class='btn-toolbar xml-editor-toolbar'>

  <% if( showTags ) { %>
    <div class="dropdown">
      <button id="xml-tag-dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Tags
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu scrollable-menu">
        <% _.each( tags, function(tag) { %>
          <% if( tag == 'pb' ) { %>
            <li><a class='pb-button' data-tag-id='<%= tag %>' href="#"><%= tag %></a></li>
          <% } else { %>
            <li><a class='tag-menu-item' data-tag-id='<%= tag %>' href="#"><%= tag %></a></li>
          <% } %>
        <% }) %>
      </ul>
    </div>

    <button class='tag-menu-item toolbar-button btn btn-sm btn-default' data-tag-id='milestone' href='#' >milestone</button>
    <button class='pb-button toolbar-button btn btn-sm btn-default' data-tag-id='pb' href='#'>pb</button>
    <button class='tag-menu-item toolbar-button btn btn-sm btn-default' data-tag-id='ab' href='#' >ab</button>
    <button class='lb-mode-button btn btn-sm btn-default' data-tag-id='lb' href='#' >lb</button>

  <% } %>

  <div class="status-message"><%= statusMessage %></div>
  <div class="error-message"></div>

  <div class="actions">
  <button id="buttonCopy" class='toolbar-button btn btn-sm btn-default copy-button' href='#' ><i class="fa fa-copy" aria-hidden="true"></i> Copy</button>
	<button id="buttonRelink" class='toolbar-button btn btn-sm btn-default relink-button' href='#' ><i class="fa fa-link" aria-hidden="true"></i> Relink</button>
	<button class='toolbar-button btn btn-sm btn-default preview-button' href='#' ><i class="fa fa-cloud-upload" aria-hidden="true"></i> Preview</button>
    <% if( showPublishButton ) { %>
      <button class='toolbar-button btn btn-sm btn-default publish-button <%= published ? 'hidden' : '' %>' href='#' ><i class="fa fa-star" aria-hidden="true"></i> Accept</button>
      <button class='toolbar-button btn btn-sm btn-default unpublish-button <%= published ? '' : 'hidden' %>' href='#' ><i class="fa fa-star-o" aria-hidden="true"></i> Return</button>
    <% }%>

    <% if( showReturnButton ) { %>
      <button class='toolbar-button btn btn-sm btn-default return-button <%= submitted ? '' : 'hidden' %>' href='#' ><i class="fa fa-send-o" aria-hidden="true"></i> Return to Sender</button>
    <% } %>

    <% if( showActionMenu ) { %>
      <div class="dropdown inline">
        <button id="action-dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu open-right">
          <% if( showSubmitButton ) { %>
            <li><a class='submit-button <%= submitted ? 'hidden' : '' %>' href="#"><i class="fa fa-send" aria-hidden="true"></i> Submit</a></li>
          <% } %>
          <li><a class='share-button <%= shared ? 'hidden' : '' %>' href="#"><i class="fa fa-share-square" aria-hidden="true"></i> Share</a></li>
          <li><a class='stop-sharing-button <%= shared ? '' : 'hidden' %>' href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i> Stop Sharing</a></li>
          <li><a class='rename-button' href="#"><i class="fa fa-pencil-square" aria-hidden="true"></i> Rename</a></li>
          <li><a class='delete-button' href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></li>
        </ul>
      </div>
    <% } %>

  </div>

</div>

<div id='editor-viewport'>
  <textarea id='codemirror'></textarea>
</div>
