<div class="row <%= (error) ? 'has-error' : '' %>">
  <label for="<%= field_name %>" class="control-label col-sm-3"><%= field_title %>:</label>
  <div class="col-sm-8 field-wrapper">
	  <input type="number" class="form-control year-input" id="<%= field_name %>" value="<%= field_value %>" >
	  <div class="instructions"><%= field_instructions %></div>
  </div>
</div>