<li class='doc-tab' id='<%= id %>' >
	<span>
		<i class="accept-star <%= star ? 'fa fa-star' : '' %>"></i> 
		<i class="<%= icon %>"></i> 
		<span class='name'><%= name %></span>
	</span> 
	<div class="close-x fa fa-times-circle" data-tab-id="<%= id %>"></div>
</li>
