<div id='leaf-viewer'>
  <div class="row">
    <div class="leaf-pane col-md-5 left-col">
      <div class='nav-actions'>
        <% unless @prev_leaf.nil? %>
          <a class="prev-leaf-button" href="<%= url_for @prev_leaf %>"><i class='fa fa-chevron-circle-left'></i> Previous Leaf</a>
        <% end %>
        <% unless @next_leaf.nil? %>
          <a class="next-leaf-button" href="<%= url_for @next_leaf %>">Next Leaf <i class='fa fa-chevron-circle-right'></i></a>
        <% end %>
      </div>
      <div id='openseadragon'></div>
    </div>
    <div class="col-md-6 right-col">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#" class='tab-button' data-tab='diplo-pane'>Diplomatic</a></li>
        <li role="presentation"><a href="#" class='tab-button' data-tab='base-pane'>Base</a></li>
      </ul>
      <div>
      <div class='tab-pane' id="diplo-pane", style="width:690px;height:550px;">
        <%= render partial: 'diplo' %>
      </div>
      <div class='tab-pane' id="base-pane">
        <%= render partial: 'base' %>
      </div>      
    </div>
    </div>
  </div>
  <div class="row">
    <p>Transcribed by: <%= @transcription.user.attribution_name %></p>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div id="sequence-list-panel"></div>
    </div>
  </div>
</div>


<script>

  // application main
  $(document).ready(function() {
    var leafViewer = new TextLab.LeafViewer({ 
      el: $('#leaf-viewer'), 
      model: <%=raw @leaf.to_json %>
    });
    leafViewer.render();  
  });

</script>
