<div id='leaf-viewer'>
  <div class="row">
    <div class="col-md-5 left-col">

      <div class='nav nav-actions'>
        <% unless @prev_leaf.nil? %>
          <a class="prev-leaf-button" href="<%= url_for @prev_leaf %>"><i class='fa fa-chevron-circle-left'></i> Previous Leaf</a>
        <% end %>
        <% unless @next_leaf.nil? %>
          <a class="next-leaf-button" href="<%= url_for @next_leaf %>">Next Leaf <i class='fa fa-chevron-circle-right'></i></a>
        <% end %>
      </div>

      <div class="col-md-5 right-col">
        <ul class="nav nav-tabs nav-actions">
          <li role="presentation" class="active"><a href="#" class='tab-button' data-tab='diplo-pane'>Diplomatic</a></li>
          <li role="presentation"><a href="#" class='tab-button' data-tab='base-pane'>Base</a></li>
        </ul>
      </div>

    </div>


      <div class = "imageWrapper">
        <div data-role="splitter" class="h-100">
          <div class = "leftWrapper">
          <div class="d-flex flex-justify-center flex-align-center">
            <div id='openseadragon'></div>
	    <p id="zone_atts" style="display:none"></p>
          </div>
        </div>

        <div class = "rightWrapper">
          <div class="d-flex flex-justify-center flex-align-center">
            <div class='tab-pane' id="diplo-pane", style="width:690px;height:550px;">
              <%= render partial: 'diplo' %>
            </div>
            <div class='tab-pane' id="base-pane">
              <%= render partial: 'base' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <p>Transcribed by: <%= @transcription.user.attribution_name %></p>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div id="sequence-list-panel"></div>
    </div>
  </div>
</div>

<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>

<link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">

<style>
  .gutter{
    width: 11px !important;
  }
  .gutter:hover{
          cursor: ew-resize;
	  -webkit-touch-callout: none; /* iOS Safari */
   	  -webkit-user-select: none; /* Safari */
     	  -khtml-user-select: none; /* Konqueror HTML */
       	  -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
   }
  .tab-pane {
    width: 100% !important;
    padding-right: 2rem;
  }


-viewer #diplomatic-panel {
    width: 100% !important;
  }

.col-md-5{
	display: flex;
    	flex-direction: row;
    	float: right;
    	left: 21rem;
}

#leaf-viewer .nav-actions {
	display: flex;
       flex-direction: row;
	width: 23rem;
    	right: 20rem;
 	padding-left: 0px !important;
}

.prev-leaf-button{
	width: 13rem;

}

next-leaf-button{
	    width: 13rem;
}

#leaf-viewer .nav-actions .next-leaf-button {
    width: 19rem;
    padding-left: 0px !important;
}
.textfromleaf {
    margin: 0px 20px 40px 20px;

    width: 100%;
}

.rightWrapper{
	min-width: 17rem;
}

.leftWrapper{
	min-width: 18rem;
	width: 34rem !important;;
}

#leaf-viewer #base-panel {
	    width: 100% !important;
    		height: 590px;
}

#leaf-viewer #diplomatic-panel {
	width: 100% !important;
	height: 580px !important;
}
.imageWrapper{
	width: 98vw;
}

#leaf-viewer #openseadragon {
    width: 100% !important;
    height: 580px;
    margin: 20px;
    border: 1px solid black;
}
</style>
<script>

  // application main
  $(document).ready(function() {
    var current_leaf = <%=raw @leaf.to_json %>
    console.log('the leaf is');
    console.log(current_leaf);
    var leafViewer = new TextLab.LeafViewer({
      el: $('#leaf-viewer'),
      model: <%=raw @leaf.to_json %>
  });
    leafViewer.render();
  });

</script>
