<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title>TextLab</title>
  <%= stylesheet_link_tag    'textlab', media: 'all' %>
  <%= javascript_include_tag 'textlab' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <%= render partial: 'layouts/header' %>
  <% end %>
  <div class="content">
      <%= yield %>
  </div>
</body>
</html>
