<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'tl-viewer', media: 'all' %>
  <%= javascript_include_tag 'tl-viewer' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/breadcrumbs' %>
  <div class="content">
      <%= yield %>
  </div>
</body>
</html>
